---
import Card from "./card/card.astro"
import GawrGura from "./pictures/052507.png";
---

<style>

  .experience{
    background-color: #1f1f1fFF;
    padding: 40px;
    border-radius: 38px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    
}


</style>

<section class="experience">
  

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

</section>
