---
import { getImage } from "astro:assets";
import NavBar from "../../components/navbar/navbar.astro";
import Footer from "../../components/footer/footer.astro";
import faviconSrc from "../../../public/favicon.svg";
import proyectos from '../../data/proyectos.json';

const favicon = await getImage({src: faviconSrc});


export function getStaticPaths() {
  return Object.keys(proyectos).map(proyecto => ({
    params: { proyecto }
  }));
}


function getTiposActivos(tipo) {
  return Object.entries(tipo)
    .filter(([_, value]) => value)
    .map(([key, _]) => key);
}



const { proyecto } = Astro.params;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta name="description" content="Mi portafolio">
    <meta name="description" content="Mi portafolio web parecido a un CV pero mejor.">
    <meta name="keywords" content="ingeniero de sistemas, fullstack, backend, frontend, devops, desarrollo web, experiencia digital, construcción de productos en línea, código eficiente, arquitectura de software, comunicación transparente, usuario final, experiencia del usuario">
    <link rel="image_src" href="https://www.asprino.tech/pfp.jpg"/>
    <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">
    <meta property="og:site_name" content="Sebastian Asprino" />
    <meta property="og:url" content="https://www.asprino.tech" />
    <meta property="og:title" content="Portafolio Sebastian Asprino" />
    <meta property="og:image" content="https://www.asprino.tech/pfp.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:alt" content="mi foto de perfil procesada por IA" />    
    <meta property="og:description" content="Mi portafolio web parecido a un CV pero mejor 🧑🏻‍💻." />
    <link rel="icon" href={favicon.src} type="image/svg+xml"/>
    <link rel="canonical" href="https://www.asprino.tech" />
    <link rel="preload" href="/MonaspaceNeonVarVF[wght,wdth,slnt].ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
    <title>Sebastian Asprino</title>
  </head>
  <body>
    <NavBar /> 
    <section>
      {proyectos[proyecto] ? (
        <>
          <h1>{proyectos[proyecto].nombre}</h1>
          {getTiposActivos(proyectos[proyecto].tipo).map(tipo => (
            <h2>{tipo}</h2>
          ))}
          <h2>{proyectos[proyecto].año}</h2>
          <h2>{proyectos[proyecto].repositorio}</h2>
          <h2>{proyectos[proyecto].lenguajes}</h2>
          <h2>{proyectos[proyecto].tecnologias}</h2>
          <h2>{proyectos[proyecto].pruebalo}</h2>
          <h2>{proyectos[proyecto].descripcion}</h2>
        </>
      ) : (
        <h1>Proyecto no encontrado</h1>
      )}
    </section>
    <Footer/>
  </body>
</html>



<style is:global>
  @font-face {
  font-family: 'MonaspaceNeon';
  src: url('/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
}

* {
  background-color: #000000;
  font-family: 'MonaspaceNeon', 'Sofia Sans Condensed';
  font-variation-settings: 'wght' 400, 'wdth' 100;
  color: #cfcfea;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin: 0 auto 0;
  max-width: 1300px;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
} */

/* 
Profesionalismo y confianza:
Azul Marino: #0B3C5D (color usado modo oscuro)
Azul Real: #4169E1 (color usado modo oscuro)
Azul Medianoche: #191970 (usar modo claro)

Autoridad y poder:

Azul Pizarra: #4682B4 (posible usar)
Azul Imperial: #005A9C
Azul Cobalto: #0047AB(usar) */
</style>
